<div class="summary_container">
  <article class="archive__item">
    <div class="summary_title">
      <a href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a>
    </div>
    {% if post.read_time %}
      <div class="summary_readtime"><i class="far fa-clock" aria-hidden="true"></i> {% include read-time.html %}</div>
    {% endif %}
    <div class="summary_tag_list">Tags:
      {% for tag in post.tags %}
        <span style="font-size:12px">
          {{ tag }}
          {% unless tag == post.tags.last %}, {% endunless %}
        </span>
      {% endfor %}
    </div>
    <div class="summary_date">Posted on: <time>{{ post.date | date: "%B %e, %Y" }}</time></div>
    {% if post.excerpt %}
      <div class="summary_excerpt">{{ post.excerpt | markdownify | strip_html }}</div>
    {% endif %}
  </article>
</div>
